form {
    margin: 50px;
}

.form-control, button, label {
    margin-top: 50px;
    display: block;
    margin: 0 auto;
}

label {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 24px;
}

.btn {
    color: #fff;
    background-color: #1976d2;
    margin-bottom: 50px;
    border-radius: 4px;
    transform: scale(1.2);
}